body{
    background-color: #447bbe;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }

  .contenedor{
    position: relative;
    display: 4;
    text-align: left;
}
.texto-encima{
    position: absolute;
    top: 150px;
    left: 160px;
}
